* {
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgb(37, 37, 37);
  font-size: 13px;
  color: white;
}

form {
  margin-bottom: 30px;
}

input {
  width: 400px;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: lightgray;
  color :  rgb(37, 37, 37);
}

input[type="text"] {
  border: solid 2px transparent;
  border-radius: 5px;
}

/* #true {
  margin-left: 50px;
} */

#namebox,
#passwordBox,
#confirmPasswordBox,
#e-mailBox,
#phoneNumberBox {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  background-color: crimson;
}